@media (min-width: 66.5rem) {
  .site-nav, .site-header, .site-footer {
    width: 100%;
  }
}

code {
  font-size: 0.8em;
}

.code-example {
  font-size: 0.91em;
  padding-top: unset;
  padding-bottom: unset;
  margin-top: -1.2%;
  margin-bottom: unset;
}

.with-li {
  margin-left: 3em;
}

.recent-post {
  font-size: 0.9em;
  padding: $sp-3 1em 1em 1em;
  margin-bottom: $sp-3;
  overflow: auto;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.gist .blob-code-inner {
  font-size: 12px !important;
}

.gist .blob-num {
  font-size: 12px !important;
}

p {
  margin-top: unset;
  padding-bottom: 1em;
}